<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="data source=THEMONSTER8\SQL2012;initial catalog=CODECorp.WcfIdentity;integrated security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>